.Burger{
	width:100%;
	margin:auto;
	height: 350px;
	overflow: scroll;
	text-align: center;
	font-weight: bold;
	font-size: 1.2rem;
	overflow: auto;
}

@media (min-width: 1000px){
	.Burger{
		width: 500px;
		height: 400px;
	}
}

@media (min-width: 420px) and (max-width: 999px){
	.Burger{
		width: 350px;
		height: 330px;
	}
}
@media (max-width: 499px){
	.Burger{
		width: 350px;
		height: 200px;
	}
}